@import '../mixin.scss';
@import '../variables.scss';

.talent-calculator-container {
  background-image: url('../Assets/talent-calc-bg.png');
  width: 80%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid $main-border;
}

.talent-calculator-title {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background: $title-background;
  width: 95%;
  min-height: 40px;
  margin-top: 20px;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  width: 95%;
}

.talent-path-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@include medium-screen {
  .talent-calculator-container {
    width: 100%;
    height: 100vh;
  }

  .talent-calculator-title {
    min-height: 60px;
    align-items: center;
  }

  .main-content {
    flex-direction: column;
  }

  .talent-path-container {
    width: inherit;
    justify-content: center;
  }
}