.talent-path {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.path-name {
  font-size: small;
}

.talent-buttons {
  display: flex;
  align-items: center;
  width: 75%;
}

@media screen and (max-width: 1175px) {
  .talent-path {
    flex-direction: column;
  }

  .path-name {
    margin-bottom: 20px;
  }

  .talent-buttons {
    width: inherit;
  }
}

@media screen and (max-width: 460px) {
  .talent-buttons {
    width: 75%;
  }
}