@import '../../variables.scss';

.talent-icon {
  cursor: pointer;
  background-image: url('../../Assets/talent-icons-sprite.png');
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-position-y: -50px;

  &:hover {
    background-position-y: 0px;
  }
}

.talent-border {
  background: $talent-border;
  padding: 3px;
}

.talent-border-selected {
  background: $talent-border-selected;
  animation: rotate 0.2s linear;
  box-shadow: 0 0 10px $talent-selected-shadow;
}

.talent-link-bar {
  position: relative;
  height: 12px;
  width: 100px;
  background-color: $link-bar;
  border-top: 2px solid $link-bar-border;
  border-bottom: 2px solid $link-bar-border;
}

.talent-link-bar-selected {
  background-color: $link-bar-selected;
  border-top: 2px solid $link-bar-border-selected;
  border-bottom: 2px solid $link-bar-border-selected;
}

.is-selected {
  background-position-y: 0px;
}

.talent-stacks {
  background-position-x: 0px;
}

.talent-ustensiles {
  background-position-x: -50px;
}

.talent-cake {
  background-position-x: -100px;
}

.talent-crown {
  background-position-x: -150px;
}

.talent-ship {
  background-position-x: -200px;
}

.talent-scuba {
  background-position-x: -250px;
}

.talent-lightning {
  background-position-x: -300px;
}

.talent-skull {
  background-position-x: -350px;
}

@keyframes rotate {
  0% {
    background: $talent-border-selected;
  }
  25% {
    background: linear-gradient(to right, $talent-border-selected-light, $talent-border-selected-dark);
  }
  50% {
    background: linear-gradient($talent-border-selected-dark, $talent-border-selected-light);
  }
  75% {
    background: linear-gradient(to left, $talent-border-selected-light, $talent-border-selected-dark);
  }
  100% {
    background: $talent-border-selected;
  }
}