@import 'mixin.scss';
@import 'variables.scss';

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: $main-text;
}

@include medium-screen {
  .App {
    align-items: flex-start;
  }
}