//App Colors
$main-background: #282c34;
$main-text: #fff;
$secondary-text: #384f66;
$main-border: #080b0c;
$title-background: rgba($color: #1e2228, $alpha: 0.5);
$talent-border: linear-gradient(#505050, #363636);
$talent-border-selected: linear-gradient(#6eacea, #3c4b57);
$talent-border-selected-light: #6eacea;
$talent-border-selected-dark: #3c4b57;
$talent-selected-shadow: #505050;
$link-bar: #141617;
$link-bar-selected: #303133;
$link-bar-border: #181a1b;
$link-bar-border-selected: #383b3c;
$points-container: #080b0c;
$points-container-border: #121313;